@font-face {
    font-family: "RobloxCustom";
    src: url("https://davidstuff404.github.io/roblox-font/fonts/RobloxFont-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "RobloxCustom" !important;
}
