@font-face {
    font-family: "RobloxCustom";
    src: url("./fonts/RobloxFont-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: "RobloxCustom", sans-serif !important;
}
